<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css"
    />
    <link href="./static/css/style.css" rel="stylesheet" />
    <title>Mushroom Classification</title>
  </head>
  <body>
    <div id="chart"></div>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='images/mushroom_icon.png') }}"
            alt="Mushroom Icon"
            style="height: 40px; width: 40px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('predict') }}">Identify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tableauOne') }}"
                >Explore: Shape and Color</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tableauTwo') }}"
                >Explore: Edibility</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('aboutus') }}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('workscited') }}"
                >Works Cited</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('writeup') }}">Write Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Works Cited content -->
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin: 10px;">
          <div class="card-header text-center">
              <h1>Works Cited</h1>
          </div>

          <div class="card-body text-left">
              <p>
              (n.d.).<i>A banner of various mushrooms. Vector illustration of fungus. Drawing of voluminous fungi. Pro Vector.</i><br>Vecteezy. Retrieved September 30, 2024, from <br>
                  <a target='_blank' href="https://www.vecteezy.com/vector-art/14315476-a-banner-of-various-mushrooms-vector-illustration-of-fungus-drawing-of-voluminous-fungi">
                    https://www.vecteezy.com/vector-art/14315476-a-banner-of-various-mushrooms-vector-illustration-of-fungus-drawing-of-voluminous-fungi  
                  </a>
                  <br>
                  Banner Image Source
              </p>
              <hr>
              <p>
                  (n.d.).<i>Black mushroom icon. </i> ICONSDB.COM. Retrieved September 30, 2024, from 
                  <a target='_blank' href="https://www.iconsdb.com/black-icons/mushroom-icon.html"> 
                    https://www.iconsdb.com/black-icons/mushroom-icon.html
              </a> 
              <br> Icon Image Source

              </p>
              <hr>
              <p>
                  R. (2024, February 15). <i>What are the Advantages and Disadvantages of the Random Forest? </i> Geeksforgeeks.org. <br> Retrieved October 1, 2024,  from
                  <a target='_blank' href="https://www.geeksforgeeks.org/what-are-the-advantages-and-disadvantages-of-random-forest/
                  ">https://www.geeksforgeeks.org/what-are-the-advantages-and-disadvantages-of-random-forest/
              </a>
              </p>
              <hr>
              <p>
                  Sawhney, P. (April 2024). <i>Mushroom_cleaned_csv, Version 1. </i> Retrieved September 27, 2024, from <br>
                  <a target='_blank' href="https://www.kagglecom/datasets/prishasawhney/mushroom-dataset/data"> 
                    https://www.kagglecom/datasets/prishasawhney/mushroom-dataset/data
              </a>
              </p>
              <hr>
              <p>
                  Shin, T. (2023, November 7).<i>Understanding Feature Importance in Machine Learning. </i> Builtin.com. Retrieved October 1, 2024, from <br>
                  <a target='_blank' href="https://builtin.com/data-science/feature-importance#:~:text=Feature%20importance%20is%20a%20step,to%20predict%20a%20certain%20variable.
                  ">https://builtin.com/data-science/feature-importance#:~:text=Feature%20importance%20is%20a%20step,to%20predict%20a%20certain%20variable.
              </a>
              </p>
              <hr>
              <p>
                  Wagner, D., & Hattab, G.(2021).<i>Secondary Mushroom [Dataset]</i> UCI Machine Learning Repository. <br>  Retrieved September 27, 2024, from
                  <a target='_blank' href="https://doi.org/10.24432/C5FP5Q">
                    https://doi.org/10.24432/C5FP5Q</a>
              </p>
              <hr>
              <p>
                  Wagner, D., Heider, D. & Hattab, G. (2021).<i>Mushroom data creation, curation, and simulation to support classification tasks</i><br> UCI Machine Learning Repository. Retrieved September 27, 2024, from
              <a target='_blank' href="https://www.nature.com/articles/s41598-021-87602-3">
                https://www.nature.com/articles/s41598-021-87602-3</a>
          </div>
      </div>
    </div>
